* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1 a {
    color:#333;
    text-decoration: none;
}

h2 {
    font-size: 1.6em;
    margin: 1em 0;
}

h3 {
    font-size: 1.4em;
    margin: 1em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

/*
figure {
    margin: 20px;
}
*/

figcaption {
    color:#404040;
    font-size: 13px;
    padding: 10px;
    margin: 10px 20px 0;
    border-top:1px solid #ddd;
}

hr {
    box-sizing: content-box;
    height: 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul, ol {padding-left: 20px; }

li { list-style-position: inside;margin-bottom: 10px;}

li, p {
    line-height: 1.8;
}

p {
    padding: 5px;
    margin-bottom: 10px;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/*** FIREFOX Outline au focus... 
--------------------------------*/

a:focus,
button:focus {
    outline: 0;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}


/********************************************************************************************************/

body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

/*** DEBORDEMENT
--------------------------------*/

p,
a,
td,
th {
    word-wrap: break-word;
    overflow-wrap:break-word;
    hyphens: auto;
}

table {
    table-layout: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

/*--------------------------------*/

p a {
    color:#1F7E9E;
}
p a:hover {
    color:#E25B3D;
}

a.tag,
body > header > a {
    text-decoration: none;
}

a,
label {
    transition:all .4s ease;
}

blockquote {
    margin: 20px;
    padding: 20px;
    border-left-width: 5px;
    border-left-style: solid;
    font-size: 1.8em;
    color:#888;    
}

h1 small {
    display: block;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #CCC;
    font-size: 90%;
    color: #AAA;
}

.skip-link {
    display: none;
}

.wrapper-container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*** SVG && COLORS
--------------------------------*/

[id="atmosphere"],
[id="biosphere"],
[id="environnement"],
[id="hydrosphere"],
[id="planete-terre"],
[id="systeme-solaire"],
[id="univers"] {
    fill:#FFF;
}
/*
[id="atmosphere"] {fill: #90BCD1;}
[id="univers"] {fill: #2D4F59;}
[id="biosphere"] {fill: #B6CC49;}
[id="environnement"] {fill: #7DBF3B;}
[id="planete-terre"] {fill: #DD9946;}
[id="hydrosphere"] {fill: #1F7E9E;}
[id="systeme-solaire"] {fill: #E25B3D;}
*/


/* TEXT COLOR */

.atmosphereTxt,
[data-theme="atmosphere"] blockquote a{
    color: #90BCD1;
}

.universTxt,
[data-theme="univers"] blockquote a{
    color: #2D4F59;
}

.biosphereTxt,
[data-theme="biosphere"] blockquote a{
    color: #B6CC49;
}

.environnementTxt,
[data-theme="environnement"] blockquote a{
    color: #7DBF3B;
}

.planete-terreTxt,
[data-theme="planete-terre"] blockquote a{
    color: #DD9946;
}

.hydrosphereTxt,
[data-theme="hydrosphere"] blockquote a{
    color: #1F7E9E;
}

.systeme-solaireTxt,
[data-theme="systeme-solaire"] blockquote a{
    color: #E25B3D;
}

/* BACKGROUND COLOR */

.atmosphereBg,
[data-theme="atmosphere"] aside > section,
[data-theme="atmosphere"] > header > figure,
[data-theme="atmosphere"] [role="related"]
{background: #90BCD1;}

.universBg,
[data-theme="univers"] aside > section,
[data-theme="univers"] > header > figure,
[data-theme="univers"] [role="related"]
{background: #2D4F59;}

.biosphereBg,
[data-theme="biosphere"] aside > section,
[data-theme="biosphere"] > header > figure,
[data-theme="biosphere"] [role="related"]
{background: #B6CC49;}

.environnementBg,
[data-theme="environnement"] aside > section,
[data-theme="environnement"] > header > figure,
[data-theme="environnement"] [role="related"]
{background: #7DBF3B;}

.planete-terreBg,
[data-theme="planete-terre"] aside > section,
[data-theme="planete-terre"] > header > figure,
[data-theme="planete-terre"] [role="related"]
{background: #DD9946;}

.hydrosphereBg,
[data-theme="hydrosphere"] aside > section,
[data-theme="hydrosphere"] > header > figure,
[data-theme="hydrosphere"] [role="related"]
{background: #1F7E9E;}

.systeme-solaireBg,
[data-theme="systeme-solaire"] aside > section,
[data-theme="systeme-solaire"] > header > figure,
[data-theme="systeme-solaire"] [role="related"]
{background: #E25B3D;}

.atmosphereBg, .universBg, .biosphereBg, .environnementBg, .planete-terreBg, .hydrosphereBg, .systeme-solaireBg {
    color: white;
}

/* BORDER COLOR */

.atmosphereBorder,
[data-theme="atmosphere"] blockquote
{border-color: #90BCD1;}

.universBorder,
[data-theme="univers"] blockquote
{border-color: #2D4F59;}

.biosphereBorder,
[data-theme="biosphere"] blockquote
{border-color: #B6CC49;}

.environnementBorder,
[data-theme="environnement"] blockquote
{border-color: #7DBF3B;}

.planete-terreBorder,
[data-theme="planete-terre"] blockquote
{border-color: #DD9946;}

.hydrosphereBorder,
[data-theme="hydrosphere"] blockquote
{border-color: #1F7E9E;}

.systeme-solaireBorder,
[data-theme="systeme-solaire"] blockquote
{border-color: #E25B3D;}

/*** HEADER COMMONS
--------------------------------*/

body > header h1 {
    line-height: 1.3;
    margin: 7px 0 0 10px;
    font-weight: 300;
    color: #333;
    padding: 0;
}

body > header h1 span {
    display: block;
    font-size: 60%;
    color: #666;
    padding: 0 0 0.6em 0.1em;
}

/*** HEADER STANDARD 
--------------------------------*/

body > header {
    background: #FEFEFE;
    background: linear-gradient(#fff, #eee) repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content:space-between;
}

body > header > div {
    display: flex;
    align-content: stretch;
}

body > header > div > * {
    align-self: center;
}

body > header > div img,
body > header > div h1 {
    float: left;
}

body > header > div > a:nth-child(-n+2) {
    display: block;
    font-size: 25px;
    line-height: 25px;
    color: #333;
}

/*body > header > a + a {
    margin-top: 15px;
}*/

body > header > .navHeader {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    ;
    font-size: 16px;      
    text-align: center;
    text-transform: uppercase;
    align-self: center;
} 

body > header > .navHeader li {
    display: inline-block;
    margin-right: 30px;
}
body > header > .navHeader li a {
    text-decoration: none;
    color: #333;
}

body > header .navHeader li a:hover,
body > header .navHeader li a:active,
body > header .navHeader li a:focus {
    text-decoration: underline;
}

body > header > a + a > img {
    display: none;
}

body > header h1 {
    font-size: 24px;
}

[href*="scoop.it"]::before {
    margin-right: 10px;
    padding: 12px;
    content: "";
    background : url(images/it_24.png) no-repeat center center;
}

@media (min-width:360px) {                    /*------------  360px  --------------------------*/
    body > header h1 {
        margin-top: 14px;
    }
}

@media (min-width:480px) {                    /*------------  480px  --------------------------*/
    body > header h1 {
        font-size: 3rem;
    }
}

@media (min-width:768px) {                    /*------------  769px  --------------------------*/
    body > header {
        margin-top: 0;
    }
    body > header h1 {
        font-size: 3.2rem;
    }
    body > header > a + a > img {
        display: inline;
    }
    body > header > .navHeader {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 280px;
        border: none;        
    }
}

@media (min-width:920px) {                    /*------------  920px  --------------------------*/
    body > header h1 {
        font-size: 4rem;
    }
    body > header h1 {
        margin-top: 7px;
    }
}

/* NAV TOP + MetaTags COMMONS 
--------------------------------*/
[role="top-menu"] > a,
[role="metaTags"] > a {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

/* NAV TOP 
--------------------------------*/
[role="top-menu"] {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 0;
    background: #fff;
}

[role="top-menu"] > a {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 145px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    color:#333;
}

[role="top-menu"] a > svg {
    display: block;
    height: 70px;
    width: 70px;
    margin:0 auto 5px;
    padding: 10px;
    border-radius: 50%;
}

[role="top-menu"] a > svg g[id]{
    fill:#FFF;
}

[role="top-menu"] a:hover > span {
    border-bottom: 1px solid #333;;
}

[role="top-menu"] > a:hover,
[role="top-menu"] > a:focus{
    background: #F0F0F0;
}

@media (max-width: 767px) {
    [role="top-menu"] > a {
        flex-basis: 70px;
        padding: 0;
    }
    [role="top-menu"] a > svg {
        transform: scale(0.7);
    }
    [role="top-menu"] a > svg + span {
        display: none;
    }
}

/*** Main 
--------------------------------*/

main {
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*** Homepage & archive
----------------------------------------------------------------------------------------*/
.homepage header {
    width: 100%;
}

.homepage section h2,
.archive section h2
{
    padding:20px;
    background: #333;
    color: white;
    text-transform: uppercase;
}

.twoColumns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.twoColumns > h2 {
    width: 100%;
}

.twoColumns > article {
    flex: 1 1 300px;
}

.homepage > div > section > article > section,
.homepage > aside > section,
.archive > aside > section {
    padding:0 20px;
}

.homepage article > header > [role="metaTags"] > * {
    width: 100%;
    text-align: left;
    margin:0;
}

.homepage article > header > [role="metaTags"] > *:nth-child(2) > * {
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
}

.homepage nav[role="termsList"] a {
    display: block;
}

@media (min-width:768px) {
    .homepage > div,
    .archive > section {
        max-width: 62.6667%;
        margin-right: 4%;
    }

    .homepage > aside,
    .archive > aside {
        width: 33.3334%;
    }
    .homepage > aside > section,
    .archive > aside > section{
    margin-bottom: 20px;
    border-left:1px solid #CCC;
    } 
}

.homepage > aside > section,
.archive > aside > section {
    margin-bottom: 40px;
} 

/*** Main PageInfo (sidemenu)
----------------------------------------------------------------------------------------*/
main.pageInfo {
    padding-top: 30px;
}

/***  SIDE MENU
--------------------------*/

.navLeft ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navLeft ul > li {
    margin-bottom: 0;
    list-style-type: none;
    border-bottom: 1px solid #555;
    text-transform: uppercase;
    width: 100%;
}

.navLeft ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding:10px 20px;
}

.navLeft ul li a:hover {
    text-decoration: none;
    background: #CCC;
}

.navLeft ul li a:active,
.navLeft ul li a:focus {
    text-decoration: none;
}

.pageInfo #sticky-wrapper {
    display: none;
}

.pageInfo .is-sticky [role="sommaire"] {
    background: rgba(204,204,204,.9);
}

.pageInfo [role="sommaire"] a::before {
    background: #555;
}

.pageInfo [role="sommaire"] a {
    border-left: 1px solid #555;
    color: #333;
}

@media (min-width:768px) {    
    .pageInfo #sticky-wrapper {
        display: block;
    }
    main.pageInfo > nav {
        max-width: 300px;
    }
    main.pageInfo > nav li + div {
        width: 100%;
    }
    .navLeft ul > li {
        width: 100%;
    }
}

/***  Main PageInfo (article)
--------------------------*/

main.pageInfo > article {
    flex:1 1 300px;
    margin: 0 20px 0;
}

main.pageInfo > article > header > h1 {
    padding:0 20px;
    font-size: 2em;
}

/*** footer 
--------------------------------*/
body > footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 100px;
    padding: 30px;
    background: #333;
    color:#AAA;
}

body > footer > [role="tutelles"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

body > footer + svg {
    display: none;
}

body > footer > [role="tutelles"] figure {
    text-align: center;
    margin-right: 20px;
}

body > footer > [role="tutelles"] figcaption {
    border: none;
    margin: 0;
}

body > footer > [role="tutelles"] figcaption > a {
    color:#aaa;
}

/*** Article 
--------------------------------*/

article {
    overflow: hidden;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;    
}

article > header {
    position: relative;
    width: 100%;
}

article > header > p {
    margin-bottom: 0;
    text-transform: uppercase;
/*    font-size: 1.1em;*/
}

article > header > figure {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}

article > header > h1 {
    padding: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
}

div article {
    padding-bottom: 20px;
    margin-top: 0;
    border: 1px solid #EEE;
}
.embed article > div,
.homepage article > div {
    flex: 1 1 50px;
    height: 32px;
    padding-top: 2px;
    text-align: center;
}

a.tag > svg,
.embed > h1 > svg,
[role="metaTags"] > :first-child > a > svg {
    height: 50px;
    width: 50px;
    padding:8px;
    border-radius:50%;
}

a.tag > svg > *,
.embed > h1 > svg > *,
[role="metaTags"] > :first-child > a > svg > * {
    -webkit-transform: scale(.7);
    transform: scale(.7);
}

article > div > svg {
    height: 30px;
    width: 30px;
    padding-left: 1px;
}

article > div > svg > *{
    -webkit-transform: scale(.55);
    transform: scale(.55);
}

.full article {
    border:none;
}

.full article > section {
    border-right: 1px solid #ccc;
}

.full article > section figure {
    border: 1px solid #ddd;
    padding: 20px 0 0;
    text-align: center;
    width: 100% !important;
}

article div > aside {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

article aside > h2 {
    height: 150px;
    margin: 0;
    padding: 0px 20px;
    line-height: 100px;
    color:#FFF;
    font-size: 3rem;
}

article > section,
article > div aside > *:not(h2) {
    padding: 20px;
}

article div > aside a {
    color: #FFF;
    text-decoration: none;
}

article > section > p {
    text-align: justify;
}

.full > article > section > p:first-child {
    text-transform: uppercase;
}

article > footer {
    flex: 1 1 auto;
}

[role="related"] {
    color:#FFF;
    padding:20px;
}

/* META TAGS 
--------------------------------*/

[role="metaTags"] {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    padding: 0 20px;
}

[role="metaTags"] > * {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color:#999;    
    text-transform: uppercase;
}

[role="metaTags"] > :first-child > a {
    display: table;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color:#999;
    text-decoration: none;
}

[role="metaTags"] > :first-child.cell > a {
    display: table-cell;
}
[role="metaTags"] > :first-child.cell > a > span {
    display: none;
}

[role="metaTags"] > :first-child > a > * {
    display: table-cell;
    vertical-align: middle;
}

[role="metaTags"] > :first-child > a > svg,
.embed > h1 > svg {
    margin-right: 10px;
}

[role="metaTags"] > :nth-child(2) > * {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0;    
}

/*** Table of content TOC+
--------------------------------*/
[role="sommaire"] {
    display: none;
}

[role="sommaire"] a {
    display: block;
    margin-left: 10px;
    padding:10px 10px;
    position: relative;
    border-left: 2px solid #ccc;
    color: #ccc;
    text-decoration: none;
    transition: color .4s ease;
}

[role="sommaire"] a::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top:15px;
    left: -6px;
    background: #ccc;
    border-radius: 50%;
    content: "";
}

[role="sommaire"] a:hover,
[role="sommaire"] a:focus {
    font-size: 1.1em;
}
[role="sommaire"] a:hover::before,
[role="sommaire"] a:focus::before {
    width: 12px;
    height: 12px;
    left:-7px;
    top:16px;
}

[role="sommaire"] a.active {
    color:#FFF;
    text-decoration: underline;
}

.navLeft [role="sommaire"] a.active {
    color:#1f7e9e;
}

[role="sommaire"] a.active::before {
    background: #fff;
}
.navLeft [role="sommaire"] a.active::before {
    background: #1f7e9e;
}

@media (min-width:768px) {
    [role="sommaire"] {
        display: block;
    }
}

/*** Article en liste
--------------------------------*/

.embed > h1 {
    width: 100%;
    min-height: 80px;
    margin-bottom: 30px;
    padding: 20px;
    border-top-width: 10px ;
    border-top-style:solid;
    text-align: center;
    text-transform: uppercase;
}

.embed > h1 > * {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.embed > nav[role="termsList"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
}

.embed > nav[role="termsList"] > * {
    align-self: center;
}
.embed > nav[role="termsList"] > h2 {
    margin: 0;
    padding:0 15px;
    color: #888;
    text-transform: uppercase;
}

.embed > nav[role="termsList"] a {
    text-align: center;
}

.embed a.tag > svg + span {
    display: block;
}

.embed > div {
    display: flex;
    flex-flow: row wrap;
}

.embed > div > nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.embed > div > [type="radio"] {
    display: none;
}

.embed article {
    flex-grow:1;
    flex-shrink: 0;
    flex-basis: 300px;
    margin: 20px;
    transition: all .4s ease;
}

.archive article {
    flex-grow:1;
    flex-shrink: 1;
    flex-basis: 300px;
    margin: 0;
    transition: all .4s ease;
}

.embed > div > article > header > p {
    color: #888;
}

.embed > div > .loader {
    width: 100%;
}
/*** FILTRE FORMATS
--------------------------------*/
input[id="filter-format-all"]:checked ~ nav [for^="filter-format"],
input[id="filter-format-fichedocumentaire"]:checked ~ nav [for="filter-format-fichedocumentaire"],
input[id="filter-format-activite"]:checked ~ nav [for="filter-format-activite"],
input[id="filter-format-media"]:checked ~ nav [for="filter-format-media"],
input[id="filter-format-outils"]:checked ~ nav [for="filter-format-outils"],
input[id="filter-format-metier"]:checked ~ nav [for="filter-format-metier"] 
{
    background: #333;
}

input[id="filter-format-all"]:checked ~ [data-format],
input[id="filter-format-fichedocumentaire"]:checked ~ [data-format*="fichedocumentaire"],
input[id="filter-format-activite"]:checked ~ [data-format*="activite"],
input[id="filter-format-media"]:checked ~ [data-format*="media"],
input[id="filter-format-outils"]:checked ~ [data-format*="outils"],
input[id="filter-format-metier"]:checked ~ [data-format*="metier"]
{
    display: block;
    flex-grow:1;
    flex-shrink: 0;
    flex-basis: 300px;
}

/*** TAGS 
------------*/

.btn-filter {
    background: #BBB;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: normal;
    cursor: pointer;
}


input[id^="filter-format"]:checked ~ nav [for^="filter-format"]:hover {
    background: #666;
}

/*** TAGS 
------------*/

.tag {
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative; /*pour positionnement du badge*/
    border:1px solid #DDD;
}

.full aside .tag,
.tag[role="edit-page"],
[role="related"] .tag {
    background: #333;
    color: #FFF;
}
.full aside .tag:hover,
.tag[role="edit-page"]:hover,
[role="related"] .tag:hover {
    background: #666;
    color: #FFF;
}

a.tag:hover {
    text-decoration: none;
    background: #333;
    color: #FFF;
}

a[class*="th"]:hover {
    background: #BBB;
}

.tag[role="edit-page"] {
    width: 300px;
    position: fixed;
    left:0;
    top:33vh;
    z-index: 1;
    border-radius: 0 10px 10px 0;
}

.tag[role="edit-page"] a {
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
}

/*** BADGES 
------------*/
.badge {
    display: block;
    padding: 0 5px;
    position: absolute;
    top:-10px;
    right: -10px;
    background: #DDD;
    border-radius:5px;
    color: #666;
    text-align: center;
    line-height: 20px;
    transition: all .8s ease; 
}

.home .badge {
    opacity: 0;
}

.home .tag:hover > .badge {
    opacity: 1;
}

/*** IFRAME 
------------*/
.videoWrapper {
 position: relative;
 padding-bottom: 56.25%; /* 16:9 */
 padding-top: 25px;
 height: 0;
}
.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

iframe {
    max-width: 100%;
}

/*** MEDIA QUERIES
--------------------------------*/

@media (min-width:480px) {                    /*------------  480px  --------------------------*/
    [role="metaTags"] > :nth-child(2) {
        text-align: right;
    }
    .full > article > header > h1 {
        width: 75%;
        position: absolute;
        top: 30%;
        right: 0;
        background: rgba(0, 0, 0, .8);
        color: white;
    }
    .full > article > header > p {
        border-bottom: 1px solid #FFF;
    }
}

@media (min-width:768px) {                    /*------------  768px  --------------------------*/
    .full > article > header > h1 {
        padding: 20px;
        top: 50%;
    }
    .full > article > section {
        width: 66.66666%;
    }
    .full > article > section + div {
        width: 33.33333%;
    }
    .full > article > section + div aside{
        background: #404040;
        color: #FFF;
    }
}

@media (min-width:1024px) {                    /*------------  1024px  --------------------------*/
}

@media (min-width:1044px) {                    /*------------  1044px  --------------------------*/
    .full > article > section {
        padding: 20px 20px 20px 0;
    }
    [role="metaTags"] {
        padding: 0;
    }
}

@media (min-width:1300px) {                    /*------------  1300px  --------------------------*/
    [for="menu-toggle"] {
        display: none;
    }
    .wrapper-container.page {
        position: relative;
      max-width: 1300px;
    }
    .navLeft ul li a {
        padding:20px;
    }    
    .wrapper-container.page > main{
        width: 700px;
        margin-left: 400px;
    }
    .embed > div > article {
        margin: 15px;
    }
}